<h1>Use Sigh up</h1>

<form action="create" method="post">

    <input type="text" name="name" placeholder="Your name" required>
    <input type="email" name="email" placeholder="your Email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="submit" value="Sigh Up">
    
</form>