<h1>User Sigh In</h1>

<form action="/users/create-session" method="post">

    <input type="email" name="email" placeholder="Your email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" value="Sigh In">

</form>